#tweets-container {
  margin-top: 150px;
}

article.tweet {
  margin: auto;
  width: 80%;
  border-style: solid;
  border-width: 4px;
  padding: 0.5em;
  margin-bottom: 1.5em;
}
article.tweet:hover {
  box-shadow: 10px 10px 4px #333;
}
.tweet header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.tweet span {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tweet span img {
  width: 2em;
  height: 2em;
  margin-right: 0.75em;
}

.tweet p {
  border-bottom: solid;
  border-width: 4px;
  padding-bottom: 8px;
}

.tweet footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: smaller;
}

.icons {
  color: #4056a1;
  display: flex;
  flex-direction: row;
}

.icons div {
  padding: 0px 8px; 
}

.icons i:hover {
  color: #cfb50f;
  cursor: pointer;
}
